<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/static/login.css">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
</head>

<body>

    <img src="/static/image/image1.png" alt="Logo" class="logo-image">

    <div class="login-card">
        <h1>Welcome</h1>
        <p id="status">Connecting to Telegram...</p>
    </div>

    <script>
        const tg = window.Telegram.WebApp;
        tg.ready();
        tg.expand();

        if (!tg.initData || tg.initData.length === 0) {
            document.getElementById("status").textContent = "Please open this app inside Telegram.";
        } else {

            const user = tg.initDataUnsafe.user;

            if (!user || !user.id) {
                document.getElementById("status").textContent = "Error: user not found in initData.";
            } else {

                document.getElementById("status").textContent = "Logging in...";

                fetch("/auth", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({ init_data: tg.initData })
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.ok) {
                            // Cookie ishlamasa ham user_id URL da ketadi
                            window.location.href = "/tasks?uid=" + user.id;
                        } else {
                            document.getElementById("status").textContent = "Error: " + data.detail;
                        }
                    })
                    .catch(() => {
                        document.getElementById("status").textContent = "Connection error.";
                    });
            }
        }
    </script>

</body>

</html>