<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Todo List</title>

    <link rel="stylesheet" href="/static/login.css">

    <script src="https://telegram.org/js/telegram-web-app.js"></script>

</head>

<body>

    <img src="/static/image/image1.png" class="logo-image" alt="Logo">

    <div class="login-card">

        <h1>Welcome</h1>

        <p id="status">

            Connecting to Telegram...

        </p>

    </div>

    <script>

        const tg = window.Telegram.WebApp;

        tg.ready();

        tg.expand();

        async function login() {

            if (!tg.initData) {

                document.getElementById("status").innerHTML =
                    "Please open inside Telegram.";

                return;
            }

            document.getElementById("status").innerHTML =
                "Authorizing...";

            try {

                const response = await fetch(
                    "/auth",
                    {
                        method: "POST",

                        headers: {
                            "Content-Type": "application/json"
                        },

                        body: JSON.stringify({

                            init_data: tg.initData

                        })
                    }
                );

                const result = await response.json();

                if (!result.ok) {

                    document.getElementById("status").innerHTML =
                        result.detail;

                    return;
                }

                window.location.replace("/tasks");

            }

            catch (e) {

                document.getElementById("status").innerHTML =
                    "Connection error.";

            }

        }

        login();

    </script>

</body>

</html>